body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: #333;
}

h1 {
    color: #ff0000;
}

section {
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}
